#list {
    text-align: left;
}

ol {
    list-style: none;
    width: 200%;
    white-space: nowrap;
}

h1 {
    background-color: #4b79b4;
    opacity:  0.8;
    color: 	#9932CC;
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 4rem;
    font-weight: bold;
}

body {
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

li {
    color: black;
    font-size: 2rem;
    clear: right;
    border: 0.5rem;
}

.button {
    float: right;
}